#git ignore file for CT4028 Assessment Repo

# Ignore VS2019 generated folder
**/.vs/

# ignore user preferences VS file
*.vcxproj.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore build and intermediate directories
**/obj/
**/bin/
**/build/
**/intermediate/

#allow specific files that may be covered by the above rule
!**/obj_models/*.obj
!**/Deps/**/libs/**/*.lib
!**/Deps/**/libs/**/*.pbd

